@model IEnumerable<ExpenseManager_TDD.Models.Transaction>

@{
    ViewData["PageTitle"] = "Transactions";
    ViewData["PageActionText"] = "+ New Transaction";
    ViewData["PageActionUrl"] = "/Transaction/AddOrEdit";
}

<!-- Include Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!-- Include Bootstrap Table CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.16.0/bootstrap-table.min.css">

<div class="container">
    <div class="row">
        <div class="col-md-7">
            <table class="table" data-toggle="table" data-pagination="true">
                <thead>
                    <tr>
                        <th scope="col" data-field="Category" data-sortable="true">Category</th>
                        <th scope="col" data-field="Note" data-sortable="true"width="100px">Note</th>
                        <th scope="col" data-field="Date" data-sortable="true" width="50px">Date</th>
                        <th scope="col" data-field="Amount" data-sortable="true" width="100px">Amount</th>
                        <th scope="col" width="50px">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.CategoryTitleWithIcon</td>
                            <td>@item.Note</td>
                            <td>@item.Date.Year/@item.Date.Month/@item.Date.Day</td>
                            <td>@item.FormattedAmount</td>
                            <td>
                                <div class="d-flex flex-row justify-content-start">
                                    <a class="btn btn-sm" href="/Transaction/AddOrEdit/@item.TransactionID">
                                        <i class="fa-solid fa-pen fa-lg"></i>
                                    </a>
                                    <form action="/Transaction/Delete/@item.TransactionID" method="post">
                                        @Html.AntiForgeryToken()
                                        <button type="submit" class="btn btn-sm btn-link text-decoration-none" onclick="return confirm(&quot;Are you sure to delete this record?&quot;)">
                                            <i class="fa-solid fa-trash-can fa-lg text-danger"></i>
                                        </button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-5">
            <div class="widget  h-100 d-flex justify-content-center align-items-center">
                <i class="fa-solid fa-money-bill-transfer fa-2xl"></i>
            </div>
        </div>
    </div>
    <div>
        <button class="btn btn-primary" onclick="goBack()">Back</button>
    </div>
</div>

<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

<!-- Include Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- Include Bootstrap Table JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.16.0/bootstrap-table.min.js"></script>

<script>
    $(document).ready(function () {
        $('table').bootstrapTable();
    });
</script>
<script>
    function goBack() {
        window.history.back();
    }
</script>