@model IEnumerable<ExpenseManager_TDD.Models.Category>

@{
    ViewData["PageTitle"] = "Categories";
    ViewData["PageActionText"] = "+ New Category";
    ViewData["PageActionUrl"] = "/Category/AddOrEdit";
}

<!-- Include Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!-- Include Bootstrap Table CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.16.0/bootstrap-table.min.css">

<h1>Index</h1>

<div class="container">
    <div class="row" >
        <div class="col-md-7">
            <table class="table" data-toggle="table" data-pagination="true">
                <thead>
                    <tr>
                        <th scope="col" data-field="Title" data-sortable="true">Category</th>
                        <th scope="col" data-field="TitleWithIcon" data-sortable="true" width="150px">Type</th>
                        <th scope="col" width="50px">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.TitleWithIcon</td>
                            <td>
                                @if (@item.Type != "Expense")
                                {
                                    <span class="badge bg-success">@item.Type </span>
                                }
                                else
                                {
                                    <span class="badge bg-danger">@item.Type </span>
                                }
                            </td>
                            <td>
                                <div class="d-flex flex-row justify-content-start">
                                    <a class="btn btn-sm" href="/Category/AddOrEdit/@item.CategoryID">
                                        <i class="fa-solid fa-pen fa-lg"></i>
                                    </a>
                                    <form action="/Category/Delete/@item.CategoryID" method="post">
                                        @Html.AntiForgeryToken()
                                        <button type="submit" class="btn btn-sm btn-link text-decoration-none" onclick="return confirm(&quot;Are you sure to delete this record?&quot;)">
                                            <i class="fa-solid fa-trash-can fa-lg text-danger"></i> 
                                        </button>  
                                    </form>
                                    
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-5">
            <div class="widget  h-100 d-flex justify-content-center align-items-center">
                <i class="fa-solid fa-shapes fa-2xl"></i>
            </div>
    </div>
</div>
</div>
<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

<!-- Include Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- Include Bootstrap Table JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.16.0/bootstrap-table.min.js"></script>

<script>
    $(document).ready(function () {
        $('table').bootstrapTable();
    });
</script>